.Rproj.user
.Rhistory
.RData
.Ruserdata
Muppet_HCR
Foldest.dat
SURVEYFILES.DAT
admodel.*
*.log
muppet.b*
muppet.cor
muppet.eva
muppet.ecm
muppet.hst
muppet.mc2
muppet.mc2
muppet.mcm
muppet.p*
muppet.r*
muppet.rep
muppet.std
plaiceprognosis.dat
resultsby*
sims
*.mcmc
*.rda
